<div class="container">
  <h1>Welcome to our page with Logins!</h1>
  <form method='post' action='/user_landing'>
    email: <input name="email">
    password: <input name="password">
    <br>
    <br>
    <button>Login</button>
    <br>
    <br>
  </form>
  <form method='post' action='/new_user'>
    New User?
    <button>Create Account</button>
  </form>
</div>
