<div class="container">
    <h1>Create an account!</h1>
    <form method='post' action='/new_user'>
     <!--  name: <input name="name"><br>
      email: <input name="email"><br>
      password: <input name="password"><br> -->
      <p>name</p>
      <input name="name" type="text"> 
      <p>Password</p>
      <input name="password" type="password">
      <p>email</p>
      <input name="email" type="text">
      <br>
      <br>
      <button>Login</button>
      <br>
      <br>
    </form>

</div>
