<div class="container">
    <h1>Create an account!</h1>
    <form method='post' action='/user_landing'>
      name: <input name="name">
      email: <input name="email">
      password: <input name="password">
      <br>
      <br>
      <button>Login</button>
      <br>
      <br>

</div>
