<div class="container">
    <h1>This is a user only page</h1>
    <h2> It has secret information</h2>
    <form method='post' action='/'>
 
      <br>
      <br>
      <button>Log out</button>
      <br>
      <br>

</div>

